<div class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" [routerLink]="['/']">
		{{(staticTextState | async).text[0]}}
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ng5wpk-navbar-collapse" aria-controls="ng5wpk-navbar-collapse"
	    aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="ng5wpk-navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="">
					{{(staticTextState | async).text[1]}}
				</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0" novalidate [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)">
			<div class="form-group">
				<input class="form-control mr-sm-2" type="search" placeholder="Search..." formControlName="searchTermInput" required  aria-label="Search" />
				<div class="text-danger" *ngIf="searchTermInput.errors && (searchTermInput.dirty || searchTermInput.touched)">
					<p *ngIf="searchTermInput.errors.required">
						Search Term is required.
					</p>
					<p *ngIf="searchTermInput.errors.pattern">
						Please input valid Search Term.
					</p>
				</div>
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit" [ngClass]="{btnDisabled : !searchForm.valid}" [disabled]="!searchForm.valid">
					{{(staticTextState | async).text[2]}}
				</button>
			</div>
		</form>
	</div>
</div>
<app-spinner *ngIf="false">
</app-spinner>
