<div class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" [routerLink]="['/']">Interview</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ng5wpk-navbar-collapse" aria-controls="ng5wpk-navbar-collapse"
	    aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="ng5wpk-navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="">
					Home
				</a>
			</li>
		</ul>
	</div>
</div>
