/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

.btnDisabled {
    color: $secondary !important;
    border: $secondary !important;
}

.cover {
    object-fit: cover;
    height: 160px;
}

@media all and (max-width: 576px) {
    .cover {
        height: auto;
    }
}